* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.jumbotron {
    margin-top: 0;
    width: 100vw;
    height: 30vh;
    text-align: center;
    background-color: #EFD81D;
    position: relative;
}

.text-box {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.8px;
}



i{
    color:#000;
    font-size: 1.5rem;
    margin-top:20px;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.5s;
}
.text-box a:hover > i{
    transform: scale(1.1);
}

.center {
    position: relative;
    height: 70vh;
}

.counter-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
    flex-wrap: nowrap;
    width: 70%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.counter-box span {
    font-weight: 500;
    font-size: 4rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    color: #000;
    background-color: #EFD81D;
    font-weight: 700;
    font-size: 3rem;
    border-style: none;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    cursor: pointer;
    outline:none;
    transition: 0.5s;
    -webkit-box-shadow: 0px 0px 36px -11px rgba(199, 180, 34, 1);
    -moz-box-shadow: 0px 0px 36px -11px rgba(199, 180, 34, 1);
    box-shadow: 0px 0px 36px -11px rgba(199, 180, 34, 1);
}

.btn:hover {
    color: #EFD81D;
    background-color: #000;
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 36px -11px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 36px -11px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 36px -11px rgba(0, 0, 0, 1);
}

@media (max-width: 700px) {
    .jumbotron{
        height: 45vh;
    }
    .center{
        height: 65vh;
    }
    .counter-box {
        width: 100%;
    }
    .btn{
        height: 90px;
        width: 90px;
    }
    .counter-box span{
        font-size: 3.5rem;
    }
  }